/* reset CSS */
*{
   margin: 0;
   padding: 0;
   font-family: 'Roboto', sans-serif;
   font-size: 14px;
   font-weight: 400;
   box-sizing: border-box;
   line-height: 21px;
}
h2{
   font-size: 36px;
   font-weight: 700;
}
ul, li, a{
   list-style: none;
}
a{
   text-decoration: none;
}
.container{
   max-width: 1110px;
}
/* Header */
header{
   background-color: #1A1A1A;
   color: #FFFFFF;
   height: 43px;
   display: flex;
   align-items: center;
}
.header{
   display: flex;
   justify-content: space-between;
   align-items: center;

}
.header-contact{
   display: flex;
   justify-content: flex-start;
   align-items: center;
}
.contact-phone, .contact-mail, .contact-location{
   margin-right: 35px;
   display: flex;
   align-items: center;
}
.contact-phone img, .contact-mail img, .contact-location img{
   display: block;
   margin-right: 10px;
}
.header-social{
   display: flex;
   justify-content: flex-end;
}
.header-social img{
   display: block;
   margin-right: 23px;
}
/* End Header */

/* Menu Begin */
.menu{
   height: 82px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.menu img{
   display: inline-block;
}
.main-menu{
   display: flex;
   /* justify-content: flex-end; */
   align-items: center;
}
.btn-search{
   margin-left: 21px;
}
.main-menu{
   display: flex;
   justify-content: flex-start;
   align-items: center;
}
.menu-items{
   display: flex;
   align-items: center;
}
.menu-items li{
   line-height: 21px;
   margin-right: 15px;
   display: flex;
   align-items: center;
}
.menu-item{
   font-size: 14px;
   color: #000000;
   font-weight: 400;
}
.banner{
   display: block;
}
/* End banner */
/* Compact itroduction begin */
.compact-intro{
   padding: 66px 0 44px 0;
}
.intro-general{
   font-size: 28px;
   font-weight: 700;
   margin-bottom: 23px;
}
.intro-desc{
   font-size: 16px;
}
.more-info{
   width: 250px;
   height: 45px;
   background: url(../images/back_more_info.png) left no-repeat;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.more-info p{
   margin-left: 30px;
   margin-bottom: 0;
   display: inline;
}
.intro-item{
   display: flex;

}
.intro-item img{
   display: block;
   margin-right: 30px;
   height: fit-content;
}
.item-title{
   font-size: 18px;
   font-weight: 700;
   text-transform: uppercase;
}
/* End Compact itroduction */
/* Hightlight begin */
.highlights{
   padding: 44px 0 47px 0;
}
.title-center{
   font-size: 36px;
   font-weight: 700;
   text-align: center;
   text-transform: uppercase;
}
.desc-center{
   text-align: center;
   max-width: 564px;
   margin: 0 auto;
}
.highlights-items{
   margin-top: 80px;
}
.highlights-item .item-title{
   margin: 24px 0;
   text-align: center;
}
.highlights-item p{
   text-align: center;
}
/* End Highlight */
/* Begin work enviroment */
.workEnvironment{
   color: #FFFFFF;
   background-color: #D71A21;
   overflow: hidden;
}
.workEnvironment-desc{
   padding-left: 135px;
}
.workEnviroment-title{
   font-size: 36px;
   font-weight: 700;
   margin: 87px 0 32px 0;
}
.workEnvironment-desc p{
   margin-bottom: 42px;
}
/* Most Product*/
.most-product-items{
   display: flex;
   flex-wrap: nowrap;
   flex-direction: row;
   margin-left: -15px;
   /* overflow: hidden; */
   width: 100%;
}
.most-product-item{
   background-color: #F0FCFB;
   margin: 0 15px;
}
.most-product-item img{
   display: block;
   margin: 0 auto;
}
.most-product-item b.product-name{
   display: block;
   font-size: 16px;
   text-align: center;
   margin-bottom: 7px;
}
/* custom slick slider */
.slider{
   display: flex;
   flex-wrap: wrap;
   /* gap: 20px; */
   margin-left: 10px;
}
.slider-item{
   width: calc(25% - 20px);
   margin: 0 10px;
   padding-bottom: 30px;
}
.slider-image{
   width: 90%;
   object-fit: cover;
   margin: 0 auto;
}
.slider-content{
   text-align: center;
}
.slick-dots{
   position: absolute;
   bottom: 0;
   left: 50%;
   transform: translateX(-50%);
   padding: 0;
   margin: 0;
   display: flex !important;
   align-items: center;
   justify-content: center;
}
.slick-dots li{
   list-style: none;
   margin: 0 5px;
   
}
.slick-dots li i{
   border: none;
   border-radius: 100rem;
   font-size: 0;
   width: 15px;
   height: 15px;
   transition: all 0.2s ease;
   background-color: #ccc;

}
.slick-dots li.slick-active button{
   background-color: greenyellow;
}
.slick-arrow{
	position: absolute;
   top: 50%;
   transform: translateY(-50%);
	/* font-size: 0; */
	padding: 10px;
	border: none;
	background-color: transparent;
	/* transform: translateY(-50%); */
	z-index: 5;
   font-size: 31px;
}
.fa-angle-left{
	left: -27px;
   z-index: 222;
}
.fa-angle-right{
	right: -27px;
   z-index: 222;
}
.slick-arrow:hover {
	background-color: turquoise;
   color: #fff;
}
/* Worker Begin */
.workers{
   padding: 74px 0 85px 0;

}
.workers-block{
   margin-top: 48px;
   width: 1110px;
   height: 478px;
   display: flex;
   justify-content: space-between;
}
#worker-item{
   padding-left: 0;
   padding-right: 0;
   width: 350px !important;
   max-width: 350px;
   position: relative;
   height: 100%;
}
.worker-info{
   position: absolute;
   width: 220px;
   height: 94px;
   bottom: 0;
   left: 50%;
   transform: translateX(-50%);
   background-color: #fff;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 1px;
   display: flex;
   flex-direction: column;
   justify-content: center;

}
.worker-name{
   font-size: 16px;
   text-transform: uppercase;
   font-weight: 700;
   display: block;
   text-align: center;
   margin: 18 0 15px 0;
}
.worker-position{
   text-align: center;
}
/* End Worker */
/* Support Begin */
.support{
   background-color: #D71A21;
}
.support-content{
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 243px;
   color: #fff;
}
.support-text p{
   font-size: 16px;
   width: 299px;
   /* height: 52px; */
   display: inline-block;
}
.btn-contact{
   width: 156px;
   height: 47px;
   border-radius: 1rem;
   line-height: 47px;
   padding: 0;
   font-size: 18px;
   font-weight: 700;
   text-transform: uppercase;
}
/* End Support */
/* Footer Address Begin*/
.footer-address{
   margin-top: 76px;
   margin-bottom: 69px;
   /* margin-right: -30px; */
}
.footer-address .row{
   flex-wrap: nowrap;
}
.footer-address-item{
   display: flex;
   padding: 0;
   margin-right: 30px;
   max-width: 250px;
}
.footer-address-item:last-child{
   margin-right: 0;
}
.footer-address-item-left{
   width: 95px;
   display: block;

}
.line{
   width: 65px;
   height: 2px;
   background-color: #D71A21;
   float: left;
   margin-top: 10px;
   margin-right: 30px;
}
.footer-title{
   font-weight: 700;
   font-size: 18px;
   text-transform: uppercase;
   max-width: 128px;
   display: inline-block;
}
/* End Footer Address */
/* Footer Copyright Begin */
.footer-end{
   height: 114px;
   text-align: center;
}
.footer-end b{
   display: block;
}
.company-name{
   font-size: 24px;
   font-weight: 700;
   line-height: 54px;
   text-transform: uppercase;
}
.copyright{
   font-weight: 500;
   text-transform: uppercase;
}
.fixed{
   position: relative;
   bottom: 0;
}
.btn-ontop{
   position: fixed;
   bottom: 0;
   right: 43px;
}
.social-contact{
   position: fixed;
   bottom: 124px;
   display: flex;
   flex-direction: column;
   right: 39px;
}
.social-contact img{
   display: block;
   margin-top: 20px;
   transition: all .25s linear;
}
.social-contact img:hover{
   transform: scale(1.3);
}